<!DOCTYPE html>
<html>
<head>
  <title>Medix</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag  "application", :media => "all","data-turbolinks-track" => true  %>
  <%= javascript_include_tag "application","data-turbolinks-track" => true  %>
  <%= csrf_meta_tags %>
 
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="container">
  <div id="user_nav">
    <% if user_signed_in? %>
      Autentificat ca <strong><%= current_user.email %></strong>.
      <%= link_to 'Modificare profil', edit_user_registration_path %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Inregistrare", new_user_registration_path %> |
      <%= link_to "Autentificare", new_user_session_path %>
    <% end %>
  </div>
<% flash.each do |name, msg| %>
  <div class="alert-<%= name == :notice ? "succes" : "error" %>">
    <a class="close" data-dismiss="alert">×</a>
    <%= msg %>
  </div>
<% end %>

<%= tabs %>

<div class="container">
 <%= bootstrap_flash %>
  <%= yield %>
</div>

</body>
</html>
